<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for GW2Tradz" Description="Code analysis rules for GW2Tradz.csproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1305" Action="None" />
  </Rules>
</RuleSet>